services:
  raw-manager:
    build: .
    ports:
      - "1234:1234"
    environment:
      RAW_MANAGER_LIBRARY_ROOT: ${RAW_MANAGER_LIBRARY_ROOT}
    volumes:
      - ./data:/data
      - type: bind
        source: ${RAW_LIBRARY_PATH}
        target: ${RAW_MANAGER_LIBRARY_ROOT}

    user: "${RAW_MANAGER_UID:-1000}:${RAW_MANAGER_GID:-1000}"
